.prev, .next {
    cursor: pointer;
    font-size: 24px;
    display: inline;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}


.day {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}


.calendar {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.event-date {
    background-color: #ffcc00;
}