.main-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns per row */
    grid-gap: 10px; /* Adding gap between columns for spacing */
    height: 400px;
    margin: 5% auto;
    border-radius: 20px;
    background: #C1ACA2;
    justify-self: stretch;
    justify-items: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    text-decoration: none; 
    text-align: center;
    font-size: larger;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    border-radius: 28px;
    background: #423026;
    justify-content: space-between;
}

/* Optional: To make sure the boxes wrap onto the next row if the main box width is exceeded */
@media (max-width: 960px) {
    .main-box {
        grid-template-columns: repeat(2, 1fr); /* Change to two columns on smaller screens */
    }
    .box:nth-child(2n) {
        margin-right: 0; /* Remove right margin for every second box on smaller screens */
    }
}
