/*

* Grid CSSS --------------------------------------------------------------------------------------

*/

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  grid-template-rows: 0.25fr 1fr; 
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-areas: "header header" "menu main";
  column-gap: 1%;
  height: 100%;
}

#header {
  grid-area: header;
}

#menu {
  grid-area: menu;
}


#main {
  grid-area: main;
  margin-right: 5%;
  /* Set full height and width for main content */
  height: 100%;
  width: 100%;
}

/*

* Sidebar Styles -------------------------------------------------------------------------------------

*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  transition: 0.3s;
  color: #fff;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  background-color: #555;
}

/* Font Awesome Icons */
.sidebar ul li a i {
  margin-right: 10px;
  font-size: 18px;
}

/* Hide text and show only icons on mobile view */
@media (max-width: 768px) {
    .sidebar {
    width: 60px;
    transition: 0.3s;
    overflow-y: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #555;
    color: #fff;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    transition: 0.3s;
  }

  .sidebar ul li a {
    padding: 10px 0;
    text-align: center;
  }

  .sidebar ul li a i {
    display: block;
    padding-left: 10px;
    font-size: 24px;
  }

  .sidebar ul li a span {
    display: none; 
  }

  .sidebar.active {
    width: 250px;
    left: 0;
    transition: 0.3s;
  }

  .sidebar ul li a:hover {
    background-color: #333;
  }
}

/*

* NAVBAR CSSS --------------------------------------------------------------------------------------

*/

nav {
  text-align: center;
  color: #FFF;
  font-family: Otomanopee One;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.9%;
  letter-spacing: 0.68px;
  align-items: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar {
  background-image: url('../images/navbar-bg.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  position: relative; /* Add this line */
}

nav ul {
  height: 40px;
  list-style: none;
  padding: 0;
  display: inline-block;
  flex-grow: 1;
  justify-content: center;
}

nav ul li {
  height: 40px;
  display: inline-block;
  display: inline;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  border-radius: 28px;
  background: #423026;
}

nav a {
  text-decoration: none;
  color: #FFF;
}

nav ul li.active {
  background: #7D5945;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li:hover {
  background: #7D5945;
}

.title {
  display: flex;
  width: 259px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Istok Web;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-top: 5%;
  margin-left: 5%;
}

.menu-icon {
  display: none;
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
}


/* Responsive Styles */
/* Small Screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    position: absolute; /* Add this line */
    top: 70px; /* Adjust the top position to your liking */
    left: 0;
    right: 0;
    background: #423026;
    display: none; /* Initially hide the menu items */
    z-index: 1; /* Place the menu above the content */
  }

  nav ul.show {
    display: flex; /* Show the menu items when the menu is active */
  }

  .menu-icon {
    margin-top: 5px;
    margin-left: auto;
    display: block;
    align-self: flex-end;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul li {
    margin: 5px 0;
    padding: 10px;
    width: 100%; 
    border: none; 
  }
}



/*
* CARDS CSSS --------------------------------------------------------------------------------------
* Package cards, Sales cards
*/

ul {
    list-style-type: none; /* Remove bullets */
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #D4C5BE;
}

.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three columns per row */
    align-self: center;
    gap: 20px; 
}

.card img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.button {
    color: #FFF;
    background-color: #423026;
    display: inline-block;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    border-radius: 28px;
}

.button a {
    color: #FFF;
    text-decoration: none;
}

.button:hover{
    opacity: 50%;
}

table .button {
    color: #000;
    background-color:#DBB28C;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media (max-width: 768px) {
  .column {
    display: grid;
    grid-template-columns: 1fr; 
    align-self: center;
    gap: 20px; 
  }

  .card {
    width: 300px; /* Set a fixed width for cards in mobile view */
  }

}

/*

* FORM CSSS --------------------------------------------------------------------------------------

*/

.form-group {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 15px 0;
}
  
  label {
    flex: 1; /* Allow labels to take 50% of the available space */
    font-weight: bold;
    padding-right: 10px; 
    text-align: left; 
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    flex: 1; /* Allow input fields to take 50% of the available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border: 1px solid #007BFF;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 14px;
  }

  .valid-feedback {
    color: green;
    font-size: 14px;
  }

  /* .form-group [type="submit"] {
    background-color: #423026;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  .form-group [type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  } */


/*

* TABLE CSSS --------------------------------------------------------------------------------------

*/

.table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 50px 0;
}

.table thead {
  display: flex;
  background-color: #000;
  color: white;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.table tbody tr {
  display: flex;
  border-radius: 20px;
  background: #4C2E2E;
  color: white;
  justify-content: space-between;
  margin: 10px 0;
  padding-left: 6%;
}

.table td, .table th {
  flex: 1;
  padding: 10px 20px 10px;
}

  /* Adjust the styling for small screens (e.g., mobile devices) as needed */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    #header,
    #menu {
      width: 100%;
    }
    .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
    label {
      text-align: left;
    }
  }
