.fakeimg {
    background-color: #aaa;
    width: 30%;
    padding: 20px;
  }
  
  .card {
    width: 20%;
     margin-top: 20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 16px;
     text-align: center;
     background-color: #f1f1f1;
  }
  
  * {
    box-sizing: border-box;
  }

  /* Float four columns side by side */
.column {
    align-self: center;
    float: center;
    width: 100%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }