.sidebar {
    height: 100%;
    background-color:#A8A597;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #555;
}


 /* @media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 0;
    }
} */
