.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: #ffffff;
  width: 1054px;
  height: 511px;
  position: relative;
  overflow: hidden;
}
.rectangle-147 {
  opacity: 0.800000011920929;
  width: 1054px;
  height: 475px;
  position: absolute;
  left: 0px;
  top: 36px;
}
.ellipse-1 {
  position: absolute;
  left: 497px;
  top: 62px;
  overflow: visible;
}
.login2 {
  color: #4a1010;
  text-align: center;
  font: 400 30px "Jua", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 59px);
  top: 125px;
  width: 125px;
  height: 37px;
}
.rectangle-5 {
  border-radius: 0px;
  position: absolute;
  left: 482px;
  top: 367px;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  border-radius: 0px;
  opacity: 0.6000000238418579;
  position: absolute;
  left: 407px;
  top: 200px;
  overflow: visible;
}
.rectangle-4 {
  border-radius: 0px;
  opacity: 0.6000000238418579;
  position: absolute;
  left: 406px;
  top: 274px;
  overflow: visible;
}
.password {
  color: #000000;
  text-align: center;
  font: 700 19px "Istok Web", sans-serif;
  position: absolute;
  left: 391px;
  top: 244px;
  width: 107px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.username {
  color: #000000;
  text-align: center;
  font: 700 19px "Istok Web", sans-serif;
  position: absolute;
  left: 391px;
  top: 171px;
  width: 107px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password {
  color: #000000;
  text-align: center;
  font: 400 16px "Istok Web", sans-serif;
  position: absolute;
  left: 482px;
  top: 320px;
  width: 223px;
  height: 19px;
}
.don-t-have-an-account {
  color: #000000;
  text-align: center;
  font: 700 18px "Istok Web", sans-serif;
  position: absolute;
  left: 367px;
  top: 434px;
  width: 261px;
  height: 19px;
}
.log-in {
  color: #ffffff;
  text-align: center;
  font: 700 15px "Istok Web", sans-serif;
  position: absolute;
  left: 493px;
  top: 377px;
  width: 79px;
  height: 29px;
}
.rectangle-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.sign-up {
  color: #ffffff;
  text-align: center;
  font: 700 18px "Istok Web", sans-serif;
  position: absolute;
  left: 617px;
  top: 435px;
  width: 96px;
  height: 27px;
}
.flip-backward {
  position: absolute;
  left: 38px;
  top: 69px;
  overflow: visible;
}
