
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 > div {
  width: calc(50% - 15px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.event-details,
.budget {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.event-details h3,
.partners h3,
.budget h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.event-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-details ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

/* Additional Charges Form Styles */
#additionalChargesForm {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

.additional-charges {
  margin-top: 20px;
  display: inline-flex;
  align-items: flex-start; /* Align items to the start of the flex container */
}

.additional-charges label {
  display: block;
  margin-bottom: 5px;
}

.additional-charges input {
  width: calc(33% - 10px); /* Adjust the width as needed */
  margin-right: 10px;
  box-sizing: border-box;
}

.additional-charges button {
  width: 20px;
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #007BFF;
  border: 1px solid #ddd;
  color : #fff;
  cursor: pointer;
}

.additional-charges button:hover {
  background-color: #0056b3;
}


#additionalChargesDisplay p {
  font-size: 16px;
  margin: 5px 0;
}

.send-button {
  width:120px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
}

select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.button,
.reallocate-button {
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
}

input[type="submit"]:hover,
.button:hover,
.reallocate-button:hover {
  background-color: #0056b3;
}

.button #cancel{
  background-color: #dc3545;
}

.form-group-2 {
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
}

#additionalChargesDisplay{
  font-size: 2px;
  margin: 5px 0;
}