@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media print {
    .table,
    .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6) url(https://i.pinimg.com/564x/8f/34/aa/8f34aa0579d2f30ea07a26535d4a73a2.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

main.table {
    width: 80vw;
    height: 80vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    padding: 20px;
    margin-top: 45px;
    margin-left: 30px;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    font-size: 15px;
    top: 0;
    left: 0;
    background-color: #f9b234;
    opacity: 0.8;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #c6c5a1 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
    font-size: 13px;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .3rem 0;
    border-radius: 0.8rem;
    text-align: center;
}

.status.delivered {
    background-color: #028017;
    color: black;
    min-width:80px;   
    color: var(--light);
}

.status.cancelled {
    background-color: #970404;
    color: black;
    min-width: 50px; 
    color: var(--light);
}

.status.shipped {
    background-color: #033074;
    color: black;
    min-width: 70px; 
    color: var(--light);
}

.delete-icon {
    color: red; 
}

.edit-icon {
    color: blue; 
    font-size: 18px; 
}
