@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Fallback font */
    background-color: #f0f0f0;
    
}

.container {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.sample-info {
    margin-bottom: 20px;
    margin-top: 40px; 
}

.sample-info h2 {
    font-family: 'Sacramento', cursive;
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: 20px;
}

.sample-info p {
    font-size: 17px;
    color: #373232;
    margin-bottom: 12px; /* Adjust the margin-bottom as needed */
}

.sample-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #433f3f; /* Ash color */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.sample-images img {
    width: calc(25% - 10px); /* Adjust image width as needed */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .sample-images img {
        width: calc(50% - 10px); /* Adjust image width for smaller screens */
    }
}

/* portfolio */
.portfolio-grid > div{
    transition: var(--transition);
  }
  .portfolio-grid > div:hover{
    transform: scale(0.9);
  }
  
  
  /* Container for the portfolio grid */
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Style for each image card */
  .portfolio-grid div {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px; /* Set a fixed height for uniform appearance */
  }
  
  /* Hover effect */
  .portfolio-grid div:hover {
    transform: scale(1.05);
  }
  
  /* Apply grayscale effect on hover */
  .portfolio-grid div:hover img {
    filter: grayscale(100%);
  }
  
  /* Caption style */
  .portfolio-caption {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Center images within each card */
  .portfolio-grid img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }