body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container{
  display: grid;
  grid-template-rows: 0.25fr 1fr; 
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-areas: "header2 header2" "menu main";
  column-gap: 1%;
  height: 100%;
}

#header {
  grid-area: header2;
}

#menu {
  grid-area: menu;
}

#main {
  grid-area: main;
  margin-right: 5%;
}

